@import "./includes/components/ChatLogList/ChatLogList.scss";
@import "./includes/components/Chat/Chat.scss";

.cce-assistant-root-layout {
	display: flex;
	flex-direction: row;
	gap: 20px;
	container-type: inline-size;

	&__sidebar {
		width: 180px;
		overflow: auto;
	}
	&__main {
		width: calc(100% - 180px);
		overflow: auto;
	}

	@container (max-width: 480px) {
		flex-direction: column;

		&__sidebar {
			width: auto;
		}
		&__main {
			width: auto;
		}
	}
}
