.cce-assistant-chat {
    margin: 1em 0;

    &__messages {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__message {
        display: flex;
        gap: 10px;
    }
    &__message-time {
        color: #888;
        font-size: 12px;
    }
    &__message-content-body {
        margin-top: 10px;
        > *:first-child {
            margin-top: 0;
        }
    }
}
.cce-assistant-chat-attachfiles {
    margin: 1em 0;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            img {
                max-width: 40px;
                max-height: 40px;
                display: block;
                border: 1px solid #888;
                border-radius: 9px;
                overflow: hidden;
            }
        }
    }
}