.cce-assistant-chat {
    margin: 1em 0;

    &__messages {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__message {
        display: flex;
        gap: 10px;
    }
    &__message-time {
        color: #888;
        font-size: 12px;
    }
    &__message-content-body {
        margin-top: 10px;
        > *:first-child {
            margin-top: 0;
        }
    }
}
.cce-assistant-chat-attachfiles {
    margin: 1em 0;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: visible;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            img {
                max-width: 60px;
                max-height: 60px;
                display: block;
                border: 1px solid #888;
                border-radius: 9px;
                overflow: hidden;
            }
        }
    }

    &__btn-delete {
        position: absolute;
        top: -4px;
        right: -4px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        overflow: hidden;
        border: none;
        outline: none;
        color: #333;
        background-color: #f0f0f0;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__add {
        input[type="file"] {
            display: none;
        }
        button {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            overflow: hidden;
            border: none;
            outline: none;
            color: #333;
            background-color: #f0f0f0;
            padding: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}